* {
    box-sizing: border-box;
}
body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Overpass', sans-serif;
}
nav {
    display: flex;
    /* padding: 1em; */
    margin: 0;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    background-size: cover;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  #nav_links {
      right: 0;
  }
  #nav_links a{
    text-decoration: none;
    padding: 2em;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    color: white;
  }
  
  #logo {
    width: 70px;
    height: 75px;
  }

  @media only screen and (max-width: 800px){
    nav {
        flex-direction: column;
    }
    #nav_links{
        padding: 1em;
    }
    #nav_links a {
        font-size: 1em;
        padding: 1em;
    }
  }


#home {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.9)), url(./assets/family.jpeg) fixed;
}
#message {
    box-sizing: content-box;
    font-size: 6em;
    font-weight: bold;
    text-align: center;
    width: 50vw;
    margin: 0;
    color: white;
}
#familypic {
    display: flex;
    width: 50vw;
    margin: 3em;
    align-items: center;
    z-index: 0;
}
#family {
    width: 90%;
    transform: rotate(20deg);
    animation-duration: 2s;
    animation-name: slidein;
}

@media only screen and (max-width: 800px) {
    #home {
        flex-direction:column-reverse;
    }
    #familypic {
        display: flex;
        width: 100%;
        margin: auto;
        align-items: center;
        z-index: 0;
    }
    #family {
        width: 100%;
        transform: rotate(0deg);
        animation-duration: 2s;
        animation-name: slidein;
    }
    #message {
        width: 100%;
        font-size: 3em;
    }
}

@keyframes slidein {
    from {
        width: 90%;
        transform: rotate(60deg);
    }
    75% {
        width: 60%;
        transform: rotate(45deg);
    }
    to {
        width: 100%;
        transform: rotate(0deg);
    }
}


.box {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    margin: 1em 2em;
    /* height: 70vh; */
    /* width: 80vw; */
    border: 2em solid #ffffff;
    background-color: #ffffff;
    box-shadow: rgb(175, 175, 175) 1px 1px 22px;
    /* height: 100vh; */
}
#main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    /* height: 100%; */
}
#main img {
    width: 0%;
    height: 0%;
}
#text {
    height: 20%;
    background-color: #000000;
}
#text h3 {
    margin: 0;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 32px;
    padding: 1em;
}
#pictures {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 20%;
    background-color: white;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.image {
    background-color: white;
    width: 16.67%;
    height: 50%;
}
.image img {
    width: 100%;
    height: 100%;
}
@media only screen and (max-width: 500px) {
    .box {
        margin: 1em;
    }
    #text {
        height: 10%;
        background-color: #000000;
    }
    #text h3 {
        margin: 0;
        padding: 10px;
        text-align: center;
        font-size: 16px;
        color: white;
    }
    #main img {
        width: 100%;
        height: 100%;
    }
}


#scriptures {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8)), url(./assets/logo_green.png) repeat fixed;
}

.scripture:nth-child(even) {
    background: black;
    color: white;
}

.scripture {
    margin: 1em;
    width: 30%;
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-shadow: rgb(175, 175, 175) 1px 1px 22px;
    background: white;
    background-size: 15%;
    font-size: 24px;
}
/* .scripture:hover {
    background-color: #000000;
    color: #ffffff;
}
.scripture:nth-child(even):hover {
    background: white;
    color: black;
} */
.verse {
    font-weight: bold;
}
.word {
    line-height: 1.5em;
    padding: 1em;
}
#title {
    text-align: center;
    background-color: #000000;
    position: sticky;
    top: 0;
    color: white;
    padding: 1em;
    z-index: 2;
}

@media only screen and (max-width: 800px) {
    #scriptures {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .scripture {
        font-size: 1.5em;
        width: 90%;
        position: sticky;
        top: 30vh;
        height: 60vh;
    }
    #main img {
    width: 50%;
    height: 60%;
}
}

footer {
    padding: 1em;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}
i {
    font-family: 'FontAwesome' !important;
    padding: 1em;
}
footer a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}